body {
  background-image: url(../images/background.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  background-color: black;
  color: white;
  font-family: Roboto, san-serif;
}

.jumbotron {
  color: #333;
}
